.header {
	background-color: #CFE2F3;
	width: 100%;
	height: 68px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
}

.header h1 {
	text-align: center;
	color: black;
}

.footer {
	position: fixed;;
	margin-left: 0px;
	background-color: #4C1130;
	width: 100%;
	height: 75px;
	background-color: #4C1130;
	/* float: bottom; */
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
    margin: 0 auto;
    display: block;
    width: 35%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 1em;
    box-sizing: border-box; 
}

.mainlabel {
    font-size: 12px;
    float: left;
    margin-left: 0px;
}


input,
textarea  {
  width: 50px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 5px;
  height: 20px;
  float: center;
  
}

.cost {
	float: right;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 5px 0;
  position: relative;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 20px;
  width: auto;
  transition: all 300ms ease;
  height: 20px;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 20px;
  padding: 0;
  width: 20px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 20px;
  left: -6px;
  text-align: center;
  width: 50px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

 /* form label {
 	display: inline;
	float: left;
	padding: 10px;
	
	margin-left: 10px;
} 


select {
	display: inline;
	width: 30%;
	float: right;
}

form input {
	display: inline;
	width: 30%;
	margin-left: 20px;
}  */

.content {
	background-image: url("CustUIBurgerBackground.png");
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	margin-top: 68px;
	/*margin-bottom: 75px;*/
	min-height: 470px;
}

.textMain {
	color: white;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
}

.title {
	color: #FFD700;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	margin: 0 auto;
}

.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-style: bold;
}

/* Change the color of links on hover */
.navbar a:hover {
	background-color: #FFD700;
	color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
	background-color: black;
	color: white;
}

button {
	background-color: #FFD700;
	border: none;
	padding: 15px 32px;
	text-align: center;
	clear: both;
	align: right;
	margin: 10px;
	font-size: 16px;
}

#successfulOrder {
	padding: 20px;
	clear: both;
}

#orderAgain {
	margin: 0 auto;
	text-align: center;
}