.tab-down-button {
	-fx-padding: 0;
}

.tab-down-button .arrow {
	-fx-padding: 0;
}

.tab-header-background {
    -fx-background-color: transparent ;
}

.tab {
	-fx-background-color: #faeaf3;
	-fx-text-fill: green;
	-fx-font-size: 25px;
}

.tab:selected {
	-fx-background-color:  #4C1130;
	-fx-text-base-color: white;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
	
	-fx-border-color: transparent;
}

.ingredientsGrid {
    -fx-background-color: #EFEFEF;
    -fx-padding: 5;
}

.ingredientsGrid .normalBorder {
	-fx-border-style: solid inside; 
	-fx-border-width: 1;
	-fx-border-color: #9E9E9E;
}

.ingredientsGrid .headerPane {
    -fx-background-color: #9E9E9E;
}

.ingredientsGrid .headerPane .text {
	-fx-font-weight: bold;
}

.ingredientsGrid .updateStockPane {
    -fx-background-color: #CFE2F3;
}

.ingredientsGrid .selectedPane {
    -fx-background-color: #EA9999 !important;
}

