.tab-down-button {
-fx-padding: 0;
}

.tab-down-button .arrow {
-fx-padding: 0;
}

.tab-header-background {
    -fx-background-color: transparent ;
}

.tab {
	-fx-background-color: #faeaf3;
	-fx-font-size: 25px;
}

.tab:selected {
	-fx-background-color:  #4C1130;
	-fx-text-base-color: white;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
	
	-fx-border-color: transparent;
}

.headerPane {
	-fx-font-size: 40px;
}
.ingredientsPane {

}

.testtest{
	
}


.headerPending {

	-fx-background-color:  red;

}
.headerInProgress {

	-fx-background-color:  blue;
}
.headerComplete {

	-fx-background-color:  green;
}
.headerCollected {

	-fx-background-color:  black;
}

.headerLabelDark {
	-fx-text-fill: black;
}
.headerLabelLight {
	-fx-text-fill: white;
}





.labelBun {
	-fx-background-color: rgba(245, 222, 178, 0.3);
	-fx-font-size: 30px;

}
.labelPatty {
	-fx-background-color: rgba(139, 69, 19, 0.3);
	-fx-font-size: 30px;

}
.labelSalad {
	-fx-background-color: rgba(50, 205, 50, 0.3);
	-fx-font-size: 30px;

}
.labelSauce {
	-fx-background-color: rgba(255, 255, 102, 0.3);
	-fx-font-size: 30px;

}



